<div id="food-stuffs">
  <%= render :partial => "shared/food" %>
  <div id="eaten-foods">
    <% if !@from_date.nil? || !@to_date.nil? %>
      <% @to_date.step(@from_date, -1) do |d| -%>
        <h3><%= d.strftime("%a %b %d, %Y") unless @foodgroups[d].nil? %></h3>
        <% if !@foodgroups[d].nil? -%>
          <ul>
          <% for food in @foodgroups[d] do -%>
            <li><%= food.created_at.strftime("%I:%M %p") %> : <%= food.description %> <%= link_to 'x', food, :method => :delete, :confirm => "Really delete?", :class => "delete" %> <%= link_to 'edit', edit_food_path(food) %></li>
          <% end -%>
          </ul>
        <% end %>
      <% end -%>
    <% end -%>
    <p class="prevnext"><%= prev_link(params[:page]) %> <%= next_link(params[:page])  %><p>
  </div>
</div>
