<div id="more_food">
  <% form_for @food do |f| -%>
    <p><%= f.text_field :description %> @ <%= f.text_field :created_at, :value => Time.zone.now.strftime("%m/%d/%Y %I:%M %p") %></p>
    <p><%= submit_tag %></p>
  <% end %>
</div>
<table>
  <% if !@from_date.nil? || !@to_date.nil? %>
    <% (@from_date..@to_date).each do |d| -%>
      <tr><td><%= d.strftime("%b %d, %Y") unless @foodgroups[d].nil? %></td></tr>
      <% if !@foodgroups[d].nil? -%>
        <tr><td><ul>
        <% for food in @foodgroups[d] do -%>
          <li><%= food.created_at.strftime("%I:%M %p") %> : <%= food.description %> <%= link_to 'x', food, :method => :delete, :confirm => "Really delete?" %> <%= link_to 'edit', edit_food_path(food) %></li>
        <% end -%>
        </ul></td></tr>
      <% end %>
    <% end -%>
  <% end -%>
</table>
